<%- include('partials/header.ejs', {auth: true}) %>
<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="<%=photo%>" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div id="userName" data-userId="<%=id%>" class="profile-usertitle-name">
            <%=name%>
          </div>
          <div class="profile-usertitle-email">
            <%=email%>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-primary btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="overview" id="overview">
              <a href="#">
                <i class="glyphicon glyphicon-home"></i>
                Overview </a>
            </li>
            <li class=" account-settings active" id="account-settings">
              <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Account Settings </a>
            </li>
            <li class="wish-list" id="wish-list">
              <a href="#">
                <i class="glyphicon glyphicon-ok"></i>
                Wish List </a>
            </li>
            <li class="liked-gifts" id="liked-gifts">
              <a href="#">
                <!-- <i class="glyphicon glyphicon-flag"></i> -->
                <i class="fas fa-thumbs-up"></i>
                Liked Gifts </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->

        <div class="portlet light bordered">
          <div>
            <h4 class="profile-desc-title">About <%=name%></h4>
            <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
            <div class="margin-top-20 profile-desc-link">
              <i class="fa fa-globe"></i>
              <a href="hhttps://www.digitalcrafts.com">GiftToYou.com</a>
            </div>
            <div class="margin-top-20 profile-desc-link">
              <i class="fa fa-twitter"></i>
              <a href="https://twitter.com/DgtlCrafts">@Gift2You</a>
            </div>
            <div class="margin-top-20 profile-desc-link">
              <i class="fa fa-facebook"></i>
              <a href="https://www.facebook.com/digitalcraftsllc/">GiftToYou</a>

            </div>
          </div>
        </div>



      </div>
    </div>

    <div class="col-md-9">
      <div class="profile-content">

        <div class="overview-content" id="overview-content" style="display: none">
          overview content goes here...
        </div>

        <div class="accountSettings-content" id="accountSettings-content">
          <% include partials/userprofile_settings.ejs %>
        </div>

        <div class="wishList-content" id="wishList-content" style="display: none">
          Wish list content goes here...
        </div>

        <div class="likedGifts-content" id="likedGifts-content" style="display: none">
          <div class="likesContainer" id="likesContainer">

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script src="js/userprofile.js"></script>
</body>

</html>